<phpunit bootstrap="./Bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="Nucleus Zimbra tests">
            <directory>./</directory>
        </testsuite>
    </testsuites>
    <listeners>
        <listener class="\Mockery\Adapter\Phpunit\TestListener" file="../vendor/mockery/mockery/library/Mockery/Adapter/Phpunit/TestListener.php"></listener>
    </listeners>
    <filter>
        <whitelist>
            <directory suffix=".php">../src/Nucleus/Zimbra/ZCS</directory>
            <exclude>
                <file>../src/Nucleus/Zimbra/ZCS/CurlClient.php</file>
            </exclude>
        </whitelist>
    </filter>
</phpunit>