<phpunit bootstrap="./Bootstrap.php">
  <testsuites>
    <testsuite name="Nucleus Zimbra tests">
      <directory>./</directory>
    </testsuite>
  </testsuites>
  <listeners>
    <listener class="\Mockery\Adapter\Phpunit\TestListener" file="Mockery/Adapter/Phpunit/TestListener.php"></listener>
  </listeners>
</phpunit>